body{
    background-color: white;
}
.grids {
    display: grid;
    grid-gap: 10px;
    height: 450px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
div {
    height: 100px;
    width: 200px;
}
h1 {
    /* grid-column-start: 1;
    grid-row-start: 1; */
    grid-area: 1/1;
}

p {
    /* grid-column-start: 2;
    grid-row-start: 2; */
    grid-area: 2/2;
}

i {
    /* grid-column-start: 3;
    grid-row-start: 3; */
    grid-area: 3/3;
}

h2 {
    /* grid-column-start: 4;
    grid-row-start: 4; */
    grid-area: 4/4;
}
h3 {
    /* grid-column-start: 5;
    grid-row-start: 5; */
    grid-area: 5/5;
}